body
{
    background-image: url(1.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    background-color:black;
    
}


.container
{
    height:675px;
    width:100%;
    border:2px solid hidden black;
    display:flex;
    flex-direction: column;
    color:white;
}

.header
{
    height:100px;
    width:100%;
    border:1px solid hidden black;
    display:flex;
    flex-direction: row;
}

.wd
{
    height:100px;
    width:13%;
    border:1px solid hidden black;
    display:flex;
    align-items: center;
    padding-left: 100px;
    font-size: larger;
    color:orangered
     
}

.list
{
    height:100px;
    width:50%;
    border:1px solid hidden black;
    display:flex;

}

.menu
{
    display: flex;
    flex-direction: row;
    display:flex;
    align-items: center;
    gap:100px;
    
}

ul,li
{
    list-style: none;
}

a
{
    text-decoration: none;
    color:white;

}

.search
{
    display:flex;
    align-items: center;
    margin: auto;    
    margin-left: 20px;
}

input::placeholder
{
    color:white;
}

.search input{
    height:29px;
    width:230px;
    border-radius:  5px 1px 1px 5px;
    background: transparent; 
    border: 2px solid orangered;
    color:white;
}

button
{
    height:35px;
    width: 85px;
    border:0px;
    background-color: orangered;
    border-radius:2px;
    color: white;
    cursor: pointer;

}

.main
{
    height:100%;
    width:100%;
    border: 1px solid hidden black;
    display:flex;

}

.first
{
    height: 82.5%;
    width:63.1%;
    border: 1px solid hidden black; 
    padding-top: 100px;
    padding-left: 100px;

}

.mh
{
    font-size: xx-large;
    font-weight: bold;
}

span
{
    color:orangered;
    cursor: pointer;
}

.sh
{
    font-size: larger;
}

.btn
{
    height:30px;
    width:130px;
    border:0px;
    border-radius: 5px;
    background-color: orangered;
    color:white;
}

.second
{
    height:420px;
    width:300px;
    border:2px solid hidden black;
    margin:20px;
    margin-top: 50px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.571);

}

.log
{
    height:35px;
    width:250px;
    border:1px solid hidden black;
    margin:auto;
    margin-top:30px;
    border-radius: 5px;
    display:flex;
    background-color: white;

}

.p
{   
    display:flex;
    align-items: center;
    padding-left:83px;
    font-size: large;
    font-weight: bold;
    color:orangered;
    
}

form
{
    display: flex;
    flex-direction: column;
    gap:30px;
    margin:30px;   
}

input[type="email"]
{
    height:25px;
    width:235px;
    border-top: none;
    border-left: none;
    border-right:none;
    background: transparent;
    border-color:orangered;
    color:white;
}

input[type="password"]
{
    height:25px;
    width:235px;
    border-top: none;
    border-left: none;
    border-right:none;
    background: transparent;
    border-color:orangered;
    color:white;
}

.but
{
    height:30px;
    width: 240px;
    border-radius: 5px;
    color:white;
    font-weight: bold;

}

.f1
{
    text-align: center;
    font-weight:400;
    color:white;

}

.logo
{   
    display:flex;
    flex-direction: row;
    gap:20px;
    padding-left: 5px;
    justify-content: space-evenly;
    
}
